:root {
    --dark-accent: #502581;
    --body-color: rgb(244, 240, 245);
    --main-color: rgb(34, 142, 204);
    --card-color: white;
    --accent: rgb(221, 182, 233);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Catamaran', sans-serif;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
    min-height: 100vh;
}

#container {
    background-color: var(--body-color);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4rem 5fr;
}

button {
    background-color: white;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
}

button, fieldset, input {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    border-radius: 30px;
}

/* Header */

.header {
    font-family: 'Aboreto', cursive;
    background-color: rgb(201, 170, 230);
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

h1.title {
    font-size: 3rem;
}

.clouds {
    flex: 1;
}

.clouds-img {
    height: auto;
    width: 200px;
}

/* Subheader */

.subheader {
    background-color: white;
    border-top: 1.5px solid purple;
    border-bottom: 1.5px solid purple;
    display: flex;
    padding: 10px 20px;
}

.subheader-text {
    font-size: 1.2rem;
    flex: 1;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

ul {
    flex: 1;
    flex-grow: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

li>button {
    padding: 3px 0;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.sort-button>img {
    align-self: center;
    justify-self: center;
    height: auto;
    width: 1.2rem;
}

/* Main Content */

.book-card-container {
    padding: 32px 32px 20px 32px;
    text-align: left;
}

.card-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.3fr));
    grid-auto-rows: 12rem;
    justify-content: center;
}

.card {
    padding: 20px;
    color: var(--dark-text);
    background-color: var(--card-color);
    border-radius: 5px;
    box-shadow: 0px 5px 8px rgba(128, 128, 128, 0.228);
    border-left: 5px solid var(--accent);
    display: flex;
    flex-direction: column;
}

.card-title, .card-author, .card-pages, .card-icons {
    flex: 1;
}

.number-of-pages {
    display: inline-block;
}

.card-icons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

button>img {
    width: 25px;
    height: auto;
}

.read-button {
    padding: 5px 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: var(--dark-accent);
}

.star-button {
    justify-self: flex-end;
    margin-left: auto;
}

.star-button, .share-button {
    display: flex;
    align-items: center;
}

.card.add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book-button {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px dashed var(--dark-accent);
    transition: 0.5s;
}

.add-book-button:hover, .read-button:hover {
    background-color: var(--body-color);
}